@import "tailwindcss";

:root {
  --background: #eeeeee;
  --foreground: #222222;
  --element: #dddddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #eeeeee;
    --element: #111111;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-element: var(--element);
}

body {
  background: var(--background);
  color: var(--foreground);
}
